<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>marksheet edit</h1>
    <form action="" method="post">
        {% csrf_token%}
        <label for="name">NAME</label>
        <input type="text" value="{{data4.name}}" name="name" >
        <label for="age">AGE</label>
        <input type="number" value="{{data4.age}}" name="age">
        <label for="mark">MARK</label>
        <input type="number" value="{{data4.mark}}"name="mark">
        <input type="submit" value="submit">
    </form>
   
</body>
</html>